<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>验证码</title>
</head>
<body>
    <div style="background-color:#ECECEC; padding: 35px;">
        <table cellpadding="0" align="center" style="width: 600px; margin: 0px auto; text-align: left; position: relative; border-radius: 5px;font-size: 14px; font-family: 'Microsoft YaHei','Helvetica Neue'; line-height: 1.5; box-shadow: rgb(153, 153, 153) 0px 0px 5px; border-collapse: collapse; background: #fff initial initial initial initial;">
            <tbody>
                <tr>
                    <th valign="middle" style="height: 25px; line-height: 25px; padding: 15px 35px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #C46200; background-color: #FFF; border-radius: 5px 5px 0px 0px;">
                        <font face="Microsoft YaHei" size="5" style="color: #C46200; ">验证码</font>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div style="padding:25px 35px 40px; background-color:#fff;">
                            <h2 style="margin: 5px 0px; ">
                                <font color="#333333" style="line-height: 20px; ">
                                    <font style="line-height: 22px; " size="4">
                                        您正在进行<span th:text="${type}">操作</span>，验证码为：
                                    </font>
                                </font>
                            </h2>
                            <p style="margin: 20px 0px; ">
                                <font color="#C46200" size="6" th:text="${code}">000000</font>
                            </p>
                            <p style="margin: 0px; ">
                                <font color="#979797" style="line-height: 20px; ">
                                    (验证码5分钟内有效，请勿泄露给他人)
                                </font>
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html> 