<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homestay.modules.order.mapper.OrderMapper">
    
    <select id="selectOrderList" resultType="com.homestay.modules.order.vo.OrderListVO">
        SELECT 
            o.id,
            h.name as house_name,
            h.image as house_image,
            o.check_in,
            o.check_out,
            o.nights,
            o.guests,
            o.amount,
            o.status,
            o.create_time
        FROM t_user_order o
        LEFT JOIN t_house h ON o.house_id = h.id
        WHERE o.user_id = #{userId}
        <if test="status != null">
            AND o.status = #{status}
        </if>
        ORDER BY o.create_time DESC
    </select>
    
    <select id="getOrderDetail" resultType="com.homestay.modules.order.vo.OrderDetailVO">
        SELECT 
            o.id,
            o.status,
            o.create_time,
            o.pay_time,
            o.amount,
            o.check_in,
            o.check_out,
            o.nights,
            o.guests,
            o.contact_name,
            o.contact_phone,
            o.special_requests,
            h.id as "house.id",
            h.name as "house.name",
            h.image as "house.image",
            h.address as "house.address"
        FROM t_user_order o
        LEFT JOIN t_house h ON o.house_id = h.id
        WHERE o.id = #{orderId}
        AND o.deleted = 0
    </select>
    
</mapper> 